/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/cracklib/packer
/libtool
/m4/
/plugin/heimdal-strength
/stamp-h1
.deps/
.dirstamp
.libs/
*.lo
*.la
*.o
