/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/cracklib/packer
/libtool
/m4/
/plugin/heimdal-strength
/stamp-h1
/tests/data/.placeholder
/tests/data/dictionary.*
/tests/portable/asprintf-t
/tests/portable/snprintf-t
/tests/portable/strlcat-t
/tests/portable/strlcpy-t
/tests/runtests
/tests/tap/libtap.a
.deps/
.dirstamp
.libs/
*.lo
*.la
*.o
