Source: krb5-strength
Section: net
Priority: extra
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libkrb5-dev
Standards-Version: 3.8.4
Homepage: http://www.eyrie.org/~eagle/software/krb5-strength/
Vcs-Git: git://git.eyrie.org/kerberos/krb5-strength.git
Vcs-Browser: http://git.eyrie.org/?p=kerberos/krb5-strength.git

Package: krb5-strength
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: krb5-admin-server
Description: MIT Kerberos KDC plugin for password strength checking
 This plugin checks passwords set via kadmin either through new account
 creation or password changes.  It rejects passwords that fit common
 patterns and then uses an embedded version of CrackLib to reject
 passwords based on dictionary words.  No dictionary is shipped with this
 package; a dictionary package must be installed separately.

Package: heimdal-strength
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Heimdal external password strength check utility
 This external password strength checking program implements the Heimdal
 password checking protocol.  It rejects passwords that fit common
 patterns and then uses an embedded version of CrackLib to reject
 passwords based on dictionary words.  The CrackLib rules are modified
 from the default to reject more passwords that other password cracking
 utilities such as John the Ripper can crack.  No dictionary is shipped
 with this package; a dictionary package must be installed separately.
