#!/usr/bin/make -f

# Add hardening build flags.
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Enable verbose test output.
export C_TAP_VERBOSE = 1

PACKAGE := $(shell dh_listpackages)

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- --enable-reduced-depends --with-cracklib

override_dh_auto_install:
	dh_auto_install
	rm debian/$(PACKAGE)/usr/lib/*/krb5/plugins/pwqual/*.la
